
{% load staticfiles %}
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="{% static 'movie/style.css' %}"/>
    </head>
    <body>
        <div id="container">
            <div id="header">
                <a id="site_name" href="/">MV小站</a>
            </div>
            <hr/>
            <div id="main">
                <div id="content">
                    {% block content %}{% endblock %}
                </div>  
{% include "footer.html" %}
