                <hr/>
                <footer id="footer">
                    &copy; 2014 | mv小站
        &#160;&#160;<a id="to_top" href="javascript:scroll(0,0)" >回顶部</a>
                </footer>
            </div>  
        </div>  
    <script type='text/javascript'>
        (function() {
            var c = document.createElement('script'); 
            c.type = 'text/javascript';
            c.async = true;
            c.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'www.clicki.cn/boot/51167';
            var h = document.getElementsByTagName('script')[0];
            h.parentNode.insertBefore(c, h);
        })();
    </script>
    </body> 
</html> 

