{% extends "base.html" %}
{% load my_markdown %}
{% block content %}
     <div id="next_and_prev">
        <span id="prev">
        {% if prev_post %}
            prev:&nbsp;<a href="{{ prev_post.get_absolute_url }}">{{ prev_post.title }}</a>
        {% else %}
           已经是第一首了
        {% endif %}
        </span>
        <span id="next">
        {% if next_post %} 
            next:&nbsp;<a href="{{ next_post.get_absolute_url }}">{{ next_post.title }}</a>
        {% else %}
            已经是最后一首了
        {% endif %}
        </span>
    </div>
{% autoescape off %}
    <div class="post-title">
        <h1> {{ post.title }}</h1>
    </div>
    <div class="post-content">
        <p>{{ post.content|mark|safe }} </p>
    </div>
    <!-- 多说评论框 start -->
    <div class="ds-thread" data-thread-key="{{ post.id }}" data-title="{{ post.title }}" data-url="{{ post.url }}"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
    <script type="text/javascript">
var duoshuoQuery = {short_name:"dengshilong"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] 
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
    </script>
<!-- 多说公共JS代码 end -->
{% endautoescape %}
{% endblock %}

